Repository gamer-project/gamer, pull requests merged in 2024-12, with the labels that each got.

#385 [Bugfix] Missing preprocessor
  src/Interpolation/Int_Table.cpp
Labels: bugfix

#377 Add ADA_LOVELACE and HOPPER GPU Micro-architecture
  include/CUFLU.h
  include/CUPOT.h
  include/Macro.h
  src/Auxiliary/Aux_TakeNote.cpp
  src/GPU_API/CUAPI_DiagnoseDevice.cu
  src/GPU_API/CUAPI_SetMemSize.cu
  src/configure.py
Labels: enhancement, gpu

#373 Update simulation option on Wiki
  doc/wiki/Adding-New-Simulations.md
  doc/wiki/Chemistry-and-Radiation.md
  doc/wiki/ELBDM.md
  doc/wiki/Equation-of-State.md
  doc/wiki/Feedback.md
  doc/wiki/GPU.md
  doc/wiki/Gravity.md
  doc/wiki/Hydro.md
  doc/wiki/In-Situ-Python-Analysis.md
  doc/wiki/In-Situ-Python-Analysis:-Plummer.md
  doc/wiki/Initial-Conditions.md
  doc/wiki/Installation.md
  doc/wiki/Installation:-Compiler-and-Flags.md
  doc/wiki/Installation:-External-Libraries.md
  doc/wiki/Installation:-Machine-Configuration-File.md
  doc/wiki/Installation:-Option-List.md
  doc/wiki/Installation:-Simulation-Options.md
  doc/wiki/MPI-and-OpenMP.md
  doc/wiki/Outputs.md
  doc/wiki/Particles.md
  doc/wiki/Physics-Modules.md
  doc/wiki/Quick-Start.md
  doc/wiki/Quick-Start:-1D-Shock-Tube.md
  doc/wiki/Quick-Start:-3D-Blast-Wave.md
  doc/wiki/Running-the-Code.md
  doc/wiki/Runtime-Parameters:-Cosmology.md
  doc/wiki/Runtime-Parameters:-Interpolation.md
  doc/wiki/Runtime-Parameters:-Miscellaneous.md
  doc/wiki/Runtime-Parameters:-Refinement.md
  doc/wiki/Runtime-Parameters:-Timestep.md
  doc/wiki/Runtime-Parameters:-Units.md
  doc/wiki/Simulation-Logs.md
  doc/wiki/Simulation-Logs:-Record__Note.md
  doc/wiki/Star-Formation.md
  doc/wiki/_Sidebar.md
  doc/wiki/configure.py.md
  src/configure.py
Labels: doc

#359 Set Default CUDA Stream Number as `4`
  example/test_problem/Hydro/CR_Diffusion/Input__Parameter
  example/test_problem/Hydro/Zeldovich/Input__Parameter
  example/test_problem/Hydro/Zeldovich/README
  src/GPU_API/CUAPI_SetMemSize.cu
  src/MPI/Init_MPI.cpp
Labels: enhancement, gpu

#330 Add ParHalo particle attribute to ClusterMerger setup
  src/TestProblem/Hydro/ClusterMerger/Init_TestProb_ClusterMerger.cpp
  src/TestProblem/Hydro/ClusterMerger/Par_Init_ByFunction_ClusterMerger.cpp
Labels: enhancement, test

#375 Provide additional debugging information in FailedPatchGroup* files
  src/Fluid/Flu_Close.cpp
Labels: enhancement, hydro

#388 Support #332
  example/test_problem/ELBDM/DiskHeating/generate_make.sh
  example/test_problem/ELBDM/ExtPot/generate_make.sh
  example/test_problem/ELBDM/GaussianWavePacket/generate_make.sh
  example/test_problem/ELBDM/HaloMerger/generate_make.sh
  example/test_problem/ELBDM/IsolatedHalo/generate_make.sh
  example/test_problem/ELBDM/JeansInstabilityComoving/generate_make.sh
  example/test_problem/ELBDM/LSS/generate_make.sh
  example/test_problem/ELBDM/LSS_Hybrid/generate_make.sh
  example/test_problem/ELBDM/Perturbation/generate_make.sh
  example/test_problem/ELBDM/PlaneWave/generate_make.sh
  example/test_problem/ELBDM/RestrictionMismatch/generate_make.sh
  example/test_problem/ELBDM/SelfSimilarHalo/generate_make.sh
  example/test_problem/ELBDM/Soliton/generate_make.sh
  example/test_problem/ELBDM/VortexPairLinear/generate_make.sh
  example/test_problem/ELBDM/VortexPairLinear_Hybrid/generate_make.sh
  example/test_problem/ELBDM/VortexPairRotating/generate_make.sh
  example/test_problem/ELBDM/VortexPairRotating_Hybrid/generate_make.sh
Labels: enhancement, doc, fdm

#342 Add/Update submit scripts and configure files for Forerunner/TaiwaniaIII
  configs/forerunnerI_gnu.config
  configs/forerunnerI_intel.config
  configs/taiwania3_gnu.config
  configs/taiwania3_intel.config
  example/queue/submit_forerunnerI_gnu.job
  example/queue/submit_forerunnerI_intel.job
  example/queue/submit_taiwania3_gnu.job
  example/queue/submit_taiwania3_intel.job
Labels: enhancement, general
