Repository gamer-project/gamer, pull requests merged in 2025-03, with the labels that each got.

#439 Apply dual-energy fix during interpolate iteration
  src/Interpolation/Interpolate.cpp
Labels: enhancement, hydro

#438 Add scale factor to Jeans coefficient
  src/Main/InvokeSolver.cpp
  src/Refine/Flag_Check.cpp
  src/Refine/Flag_Real.cpp
Labels: enhancement, hydro

#382 Tools for Integrating Gamer with VS Code
  doc/wiki/Developing-with-VS-Code.md
  doc/wiki/_Sidebar.md
  tool/vscode/README.md
  tool/vscode/bin_working
  tool/vscode/build.sh
  tool/vscode/c_cpp_properties.json
  tool/vscode/clean_work_dir.sh
  tool/vscode/config.sh
  tool/vscode/copy_to_vscode.sh
  tool/vscode/extract_macros.py
  tool/vscode/gamercpp.natvis
  tool/vscode/launch.json
  tool/vscode/set_bin_working.sh
  tool/vscode/settings.json
  tool/vscode/tasks.json
  tool/vscode/updated_mac_launch.sh
Labels: tool, new feature

#304 Record user data and test probelm variables in HDF5
  doc/wiki/Adding-New-Simulations.md
  include/HDF5_Typedef.h
  include/TestProb.h
  include/Typedef.h
  src/Output/Output_DumpData_Total_HDF5.cpp
  src/TestProblem/ELBDM/DiskHeating/Init_TestProb_ELBDM_DiskHeating.cpp
  src/TestProblem/ELBDM/ExtPot/Init_TestProb_ELBDM_ExtPot.cpp
  src/TestProblem/ELBDM/GaussianWavePacket/Init_TestProb_ELBDM_GaussianWavePacket.cpp
  src/TestProblem/ELBDM/HaloMerger/Init_TestProb_ELBDM_HaloMerger.cpp
  src/TestProblem/ELBDM/IsolatedHalo/Init_TestProb_ELBDM_IsolatedHalo.cpp
  src/TestProblem/ELBDM/JeansInstabilityComoving/Init_TestProb_ELBDM_JeansInstabilityComoving.cpp
  src/TestProblem/ELBDM/LSS/Init_TestProb_ELBDM_LSS.cpp
  src/TestProblem/ELBDM/Perturbation/Init_TestProb_ELBDM_Perturbation.cpp
  src/TestProblem/ELBDM/PlaneWave/Init_TestProb_ELBDM_PlaneWave.cpp
  src/TestProblem/ELBDM/SelfSimilarHalo/Init_TestProb_ELBDM_SelfSimilarHalo.cpp
  src/TestProblem/ELBDM/Soliton/Init_TestProb_ELBDM_Soliton.cpp
  src/TestProblem/ELBDM/VortexPairLinear/Init_TestProb_ELBDM_VortexPairLinear.cpp
  src/TestProblem/ELBDM/VortexPairRotating/Init_TestProb_ELBDM_VortexPairRotating.cpp
  src/TestProblem/Hydro/AGORA_IsolatedGalaxy/Init_TestProb_Hydro_AGORA_IsolatedGalaxy.cpp
  src/TestProblem/Hydro/AcousticWave/Init_TestProb_Hydro_AcousticWave.cpp
  src/TestProblem/Hydro/BlastWave/Init_TestProb_Hydro_BlastWave.cpp
  src/TestProblem/Hydro/Bondi/Init_TestProb_Hydro_Bondi.cpp
  src/TestProblem/Hydro/CDM_LSS/Init_TestProb_Hydro_CDM_LSS.cpp
  src/TestProblem/Hydro/CMZ/Init_TestProb_Hydro_CMZ.cpp
  src/TestProblem/Hydro/CR_Diffusion/Init_TestProb_Hydro_CR_Diffusion.cpp
  src/TestProblem/Hydro/CR_ShockTube/Init_TestProb_Hydro_CR_ShockTube.cpp
  src/TestProblem/Hydro/CR_SoundWave/Init_TestProb_Hydro_CR_SoundWave.cpp
  src/TestProblem/Hydro/Caustic/Init_TestProb_Hydro_Caustic.cpp
  src/TestProblem/Hydro/ClusterMerger/Init_TestProb_ClusterMerger.cpp
  src/TestProblem/Hydro/EnergyPowerSpectrum/Init_TestProb_Hydro_EnergyPowerSpectrum.cpp
  src/TestProblem/Hydro/Gravity/Init_TestProb_Hydro_Gravity.cpp
  src/TestProblem/Hydro/JeansInstability/Init_TestProb_Hydro_JeansInstability.cpp
  src/TestProblem/Hydro/Jet/Init_TestProb_Hydro_Jet.cpp
  src/TestProblem/Hydro/JetICMWall/Init_TestProb_Hydro_JetICMWall.cpp
  src/TestProblem/Hydro/KelvinHelmholtzInstability/Init_TestProb_Hydro_KelvinHelmholtzInstability.cpp
  src/TestProblem/Hydro/MHD_ABC/Init_TestProb_Hydro_MHD_ABC.cpp
  src/TestProblem/Hydro/MHD_LinearWave/Init_TestProb_Hydro_MHD_LinearWave.cpp
  src/TestProblem/Hydro/MHD_OrszagTangVortex/Init_TestProb_Hydro_MHD_OrszagTangVortex.cpp
  src/TestProblem/Hydro/ParticleEquilibriumIC/Init_TestProb_Hydro_ParEqmIC.cpp
  src/TestProblem/Hydro/ParticleTest/Init_TestProb_Hydro_ParticleTest.cpp
  src/TestProblem/Hydro/Plummer/Init_TestProb_Hydro_Plummer.cpp
  src/TestProblem/Hydro/Riemann/Init_TestProb_Hydro_Riemann.cpp
  src/TestProblem/Hydro/SphericalCollapse/Init_TestProb_Hydro_SphericalCollapse.cpp
  src/TestProblem/Hydro/Zeldovich/Init_TestProb_Zeldovich.cpp
  src/TestProblem/Template/Init_TestProb_Template.cpp
Labels: enhancement, test, general

#443 Refactor `Hydro_IsUnphysical`
  include/Prototype.h
  include/Typedef.h
  src/EoS/Gamma/CPU_EoS_Gamma.cpp
  src/EoS/GammaCR/CPU_EoS_GammaCR.cpp
  src/EoS/Isothermal/CPU_EoS_Isothermal.cpp
  src/EoS/User_Template/CPU_EoS_User_Template.cpp
  src/Fluid/Flu_FixUp_Flux.cpp
  src/Fluid/Flu_Prepare.cpp
  src/Interpolation/Interpolate.cpp
  src/Model_Hydro/CPU_Hydro/CPU_FluidSolver_RTVD.cpp
  src/Model_Hydro/CPU_Hydro/CPU_Shared_ConstrainedTransport.cpp
  src/Model_Hydro/CPU_Hydro/CPU_Shared_DataReconstruction.cpp
  src/Model_Hydro/CPU_Hydro/CPU_Shared_FluUtility.cpp
  src/Model_Hydro/CPU_Hydro/CPU_Shared_FullStepUpdate.cpp
  src/Model_Hydro/CPU_Hydro/CPU_Shared_RiemannSolver_Exact.cpp
  src/Model_Hydro/CPU_Hydro/CPU_Shared_RiemannSolver_HLLC.cpp
  src/Model_Hydro/CPU_Hydro/CPU_Shared_RiemannSolver_HLLD.cpp
  src/Model_Hydro/CPU_Hydro/CPU_Shared_RiemannSolver_HLLE.cpp
  src/Model_Hydro/CPU_Hydro/CPU_Shared_RiemannSolver_Roe.cpp
  src/Model_Hydro/GPU_Hydro/CUFLU_FluidSolver_RTVD.cu
  src/Refine/Flag_Real.cpp
Labels: enhancement, hydro
