Repository gamer-project/gamer, pull requests merged in 2025-01, with the labels that each got.

#343 User func before refine
  doc/wiki/Adding-New-Simulations.md
  include/TestProb.h
  src/Makefile_base
  src/Refine/Flag_Real.cpp
  src/Refine/Flag_UserWorkBeforeFlag.cpp
  src/TestProblem/Template/Init_TestProb_Template.cpp
Labels: enhancement, amr

#365 Grackle-related floating-point precision in GAMER
  doc/wiki/Installation:-External-Libraries.md
  include/GAMER.h
  include/Global.h
  include/Prototype.h
  include/Typedef.h
  src/Grackle/Grackle_Close.cpp
  src/Grackle/Grackle_Init.cpp
  src/Grackle/Grackle_Prepare.cpp
  src/Grackle/Init_MemAllocate_Grackle.cpp
  src/Main/Main.cpp
Labels: enhancement, hydro

#337 Auto generate wiki all parameter page
  .github/workflows/update_all_parameter_page.yml
  doc/wiki/Runtime-Parameters-related/Runtime-Parameters:-All.md
  doc/wiki/Runtime-Parameters-related/Runtime-Parameters:-Input__Parameter.md
  example/test_problem/Template/Input__Parameter
  tool/wiki/sync_runtime_parameter.py
Labels: enhancement, doc

#310 Minimum/maximum angular resolution
  doc/wiki/Runtime-Parameters-related/Runtime-Parameters:-Refinement.md
  example/input/Input__Flag_AngularResolution
  example/input/Input__Flag_RadialResolution
  example/test_problem/Template/Input__Parameter
  include/Global.h
  include/HDF5_Typedef.h
  src/Auxiliary/Aux_TakeNote.cpp
  src/Init/Init_ByRestart_HDF5.cpp
  src/Init/Init_Load_FlagCriteria.cpp
  src/Init/Init_Load_Parameter.cpp
  src/Init/Init_ResetParameter.cpp
  src/Main/Main.cpp
  src/Output/Output_DumpData_Total_HDF5.cpp
  src/Refine/Flag_Check.cpp
Labels: enhancement, amr

#346 Update AGORA test problem: High-res ICs [Reviewed]
  example/grackle/Make.mach.eureka-intel
  example/grackle/Make.mach.spock-intel
  example/grackle/README
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/Input_Options/Input__Flag_Jeans.high-res
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/Input_Options/Input__Flag_Jeans.low-res
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/Input_Options/Input__Flag_ParMassCell.high-res
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/Input_Options/Input__Flag_ParMassCell.low-res
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/Input_Options/Input__Flag_Rho.high-res
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/Input_Options/Input__Flag_Rho.low-res
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/Input_Options/Input__Parameter.high-res
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/Input_Options/Input__Parameter.low-res
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/README
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/download_ic.sh
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/download_ic_high_res.sh
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/download_ic_low_res.sh
Labels: enhancement, test

#407 Add the runtime parameter `OPT__OUTPUT_TEXT_LENGTH_INT `
  doc/wiki/Runtime-Parameters-related/Runtime-Parameters:-All.md
  doc/wiki/Runtime-Parameters-related/Runtime-Parameters:-Outputs.md
  example/test_problem/ELBDM/DiskHeating/Input__Parameter
  example/test_problem/Template/Input__Parameter
  include/Global.h
  include/HDF5_Typedef.h
  src/Auxiliary/Aux_TakeNote.cpp
  src/Init/Init_ByRestart_HDF5.cpp
  src/Init/Init_Load_Parameter.cpp
  src/Main/Main.cpp
  src/Output/Output_DumpData_Total_HDF5.cpp
  src/Particle/Par_Output_TextFile.cpp
Labels: enhancement, output

#383 Add Default Machine Setting
  .gitignore
  doc/wiki/Installation-related/Installation:-Machine-Configuration-File.md
  doc/wiki/Installation-related/Installation:-Option-List.md
  doc/wiki/Installation.md
  doc/wiki/Quick-Start-related/Quick-Start:-1D-Shock-Tube.md
  doc/wiki/Quick-Start.md
  example/test_problem/ELBDM/DiskHeating/generate_make.sh
  example/test_problem/ELBDM/ExtPot/generate_make.sh
  example/test_problem/ELBDM/GaussianWavePacket/generate_make.sh
  example/test_problem/ELBDM/HaloMerger/generate_make.sh
  example/test_problem/ELBDM/IsolatedHalo/generate_make.sh
  example/test_problem/ELBDM/JeansInstabilityComoving/generate_make.sh
  example/test_problem/ELBDM/LSS/generate_make.sh
  example/test_problem/ELBDM/LSS_Hybrid/generate_make.sh
  example/test_problem/ELBDM/Perturbation/generate_make.sh
  example/test_problem/ELBDM/Perturbation/generate_make_BaseSpectral.sh
  example/test_problem/ELBDM/PlaneWave/generate_make.sh
  example/test_problem/ELBDM/RestrictionMismatch/generate_make.sh
  example/test_problem/ELBDM/SelfSimilarHalo/generate_make.sh
  example/test_problem/ELBDM/Soliton/generate_make.sh
  example/test_problem/ELBDM/VortexPairLinear/generate_make.sh
  example/test_problem/ELBDM/VortexPairLinear_Hybrid/generate_make.sh
  example/test_problem/ELBDM/VortexPairRotating/generate_make.sh
  example/test_problem/ELBDM/VortexPairRotating_Hybrid/generate_make.sh
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/generate_make.sh
  example/test_problem/Hydro/AcousticWave/generate_make.sh
  example/test_problem/Hydro/BlastWave/generate_make.sh
  example/test_problem/Hydro/Bondi/generate_make.sh
  example/test_problem/Hydro/CDM_LSS/generate_make.sh
  example/test_problem/Hydro/CMZ/generate_make.sh
  example/test_problem/Hydro/CR_Diffusion/generate_make.sh
  example/test_problem/Hydro/CR_ShockTube/generate_make.sh
  example/test_problem/Hydro/CR_SoundWave/generate_make.sh
  example/test_problem/Hydro/Caustic/generate_make.sh
  example/test_problem/Hydro/ClusterMerger/generate_make.sh
  example/test_problem/Hydro/EnergyPowerSpectrum/generate_make.sh
  example/test_problem/Hydro/Gravity/generate_make.sh
  example/test_problem/Hydro/JeansInstability/generate_make.sh
  example/test_problem/Hydro/Jet/generate_make.sh
  example/test_problem/Hydro/JetICMWall/generate_make.sh
  example/test_problem/Hydro/KelvinHelmholtzInstability/generate_make.sh
  example/test_problem/Hydro/MHD_ABC/generate_make.sh
  example/test_problem/Hydro/MHD_LinearWave/generate_make.sh
  example/test_problem/Hydro/MHD_OrszagTangVortex/generate_make.sh
  example/test_problem/Hydro/ParticleEquilibriumIC/generate_make.sh
  example/test_problem/Hydro/ParticleTest/generate_make.sh
  example/test_problem/Hydro/Plummer/generate_make.sh
  example/test_problem/Hydro/Riemann/generate_make.sh
  example/test_problem/Hydro/Riemann/generate_make_Riemann_SRHD.sh
  example/test_problem/Hydro/SphericalCollapse/generate_make.sh
  example/test_problem/Hydro/Zeldovich/generate_make.sh
  src/configure.py
  tool/config/set_settings.sh
Labels: enhancement, compilation

#393 Updates to support macOS
  configs/mac_clang.config
  configs/mac_gnu.config
  include/RandomNumber.h
  src/Auxiliary/Aux_Check_MemFree.cpp
  src/Auxiliary/Aux_Check_Parameter.cpp
  src/Auxiliary/Aux_GetCPUInfo.cpp
  src/Auxiliary/Aux_GetMemInfo.cpp
  src/Auxiliary/Aux_TakeNote.cpp
  src/Makefile_base
  src/configure.py
Labels: enhancement, compilation

#408 Update IC links
  example/test_problem/ELBDM/DiskHeating/download_ic.sh
  example/test_problem/ELBDM/HaloMerger/download_ic.sh
  example/test_problem/ELBDM/IsolatedHalo/download_ic.sh
  example/test_problem/ELBDM/LSS/download_ic.sh
  example/test_problem/ELBDM/LSS_Hybrid/download_heavy_halo_ic.sh
  example/test_problem/ELBDM/LSS_Hybrid/download_light_halo_ic.sh
  example/test_problem/ELBDM/LSS_Hybrid/download_spectral_interpolation_tables.sh
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/download_ic_high_res.sh
  example/test_problem/Hydro/AGORA_IsolatedGalaxy/download_ic_low_res.sh
  example/test_problem/Hydro/CDM_LSS/download_ic.sh
  example/test_problem/Hydro/ClusterMerger/download_ic.sh
Labels: enhancement, test

#371 Add soliton potential for Bondi accretion problem
  example/test_problem/Hydro/Bondi/Input__TestProb
  example/test_problem/Hydro/Bondi/plot_diagonal.gpt
  src/TestProblem/Hydro/Bondi/ExtAcc_Bondi.cpp
  src/TestProblem/Hydro/Bondi/Flu_ResetByUser_Bondi.cpp
  src/TestProblem/Hydro/Bondi/Init_TestProb_Hydro_Bondi.cpp
  src/TestProblem/Hydro/Bondi/Record_Bondi.cpp
Labels: enhancement, test
