Repository gamer-project/gamer, pull requests merged in 2025-04, with the labels that each got.

#459 Update libyt link
  doc/wiki/In-Situ-Python-Analysis-related/In-Situ-Python-Analysis:-Plummer.md
Labels: doc

#461 Fix minor bug in ELBDM_GetTimeStep_Gravity to properly check AnyCell across all ranks
  src/Model_ELBDM/ELBDM_GetTimeStep_Gravity.cpp
Labels: bugfix, fdm

#389 Reset END_T when using the dump table
  src/Init/Init_Load_DumpTable.cpp
  src/Output/Output_DumpData.cpp
Labels: enhancement, output
